<footer class="footer text-center">
    All Rights Reserved by Matrix-admin. Designed and Developed by
    <a href="https://www.wrappixel.com">WrapPixel</a>.
  </footer>
</div>
</div>
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/extra-libs/sparkline/sparkline.js"></script>
<script src="/js/waves.js"></script>
<script src="/js/sidebarmenu.js"></script>
<script src="/js/custom.min.js"></script>
<script src="/libs/flot/excanvas.js"></script>
<script src="/libs/flot/jquery.flot.js"></script>
<script src="/libs/flot/jquery.flot.pie.js"></script>
<script src="/libs/flot/jquery.flot.time.js"></script>
<script src="/libs/flot/jquery.flot.stack.js"></script>
<script src="/libs/flot/jquery.flot.crosshair.js"></script>
<script src="/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="/js/pages/chart/chart-page-init.js"></script>
</body>
</html>
