<%- include('header') %>
<div class="page-wrapper">
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Form Basic</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Library
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form class="form-horizontal" method="post" action="/category/edite_category">
            <input type="text" value="<%= data.id %>" name="id">
            <div class="card-body">
              <h4 class="card-title">Personal Info</h4>
              <div class="form-group row">
                <label for="category" class="col-sm-3 text-end control-label col-form-label">enter new category</label>
                <div class="col-sm-9">
                  <input type="text" name="category" class="form-control" id="category" placeholder="Enter new category" value="<%= data.category %>"/>
                </div>
              </div>
            </div>
            <div class="border-top">
              <div class="card-body">
                <input type="submit" class="btn btn-primary" value="Submit" name="submit">
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

    <%- include('footer') %>